<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>telNum</key>
		<string>18798231039</string>
		<key>email</key>
		<string>susafqw2@qq.com</string>
		<key>addr</key>
		<string>lkjsajsfks</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>telNum</key>
		<string>18798345039</string>
		<key>email</key>
		<string>suahhqw2@qq.com</string>
		<key>addr</key>
		<string>asgdhs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王五</string>
		<key>telNum</key>
		<string>18694931039</string>
		<key>email</key>
		<string>asfusafqw2@qq.com</string>
		<key>addr</key>
		<string>sdfn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赵六</string>
		<key>telNum</key>
		<string>18520231039</string>
		<key>email</key>
		<string>gsfqw2@qq.com</string>
		<key>addr</key>
		<string>sodnala</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘忙</string>
		<key>telNum</key>
		<string>13790231439</string>
		<key>email</key>
		<string>oasafqw2@qq.com</string>
		<key>addr</key>
		<string>sjkd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乌拉</string>
		<key>telNum</key>
		<string>18775831039</string>
		<key>email</key>
		<string>sufsgw2@qq.com</string>
		<key>addr</key>
		<string>sfaukje</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水立方</string>
		<key>telNum</key>
		<string>18798272949</string>
		<key>email</key>
		<string>9nafsj2@qq.com</string>
		<key>addr</key>
		<string>aksfja</string>
	</dict>
	<dict>
		<key>name</key>
		<string>萨洛克</string>
		<key>telNum</key>
		<string>18398643039</string>
		<key>email</key>
		<string>sfaweqw2@qq.com</string>
		<key>addr</key>
		<string>fasbzk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿克苏</string>
		<key>telNum</key>
		<string>18798239243</string>
		<key>email</key>
		<string>anksw2@qq.com</string>
		<key>addr</key>
		<string>ksafsg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苏克萨</string>
		<key>telNum</key>
		<string>18798348239</string>
		<key>email</key>
		<string>lanvw2@qq.com</string>
		<key>addr</key>
		<string>askfud</string>
	</dict>
</array>
</plist>
